<h1>Backend</h1>

<p>
  <ul style="list-style: none;">
    <li><a href="/api/todos">List all todos (unauthorized)</a></li>
    <li><a href="/api/auth/github/login">Login with Github</a></li>
    <li><a href="/api/todos/1">List one todos (authorized)</a></li>
    <li>
      <a href="/api/auth/logout">Logout from application</a> (you will automatically be logged in if you're logged in in GitHub,
      revoke authentication to logout permanently)</li>
    <li><a href="https://github.com/settings/applications">GitHub.com: revoke authentication</a></li>
  </ul>
</p>
